html {
    animation-duration: 1s;
    animation-name: open_page;
    animation-direction: alternate;
    background-color: #F5F5F5;
    margin-top: 2%;
}

h1, h2 {
    color: #333333;
}

h2 {
    @media ((min-width: 360px) and (max-width: 720px)) {
        font-size: 20px;
      }
    @media ((min-width: 720px) and (max-width: 1440px)) {
        font-size: 22px;
      }
    @media ((min-width: 1440px)) {
        font-size: 24px;
      }
}

a {
    text-decoration: none;
}

p {
    color: #666666;
    @media ((min-width: 360px) and (max-width: 720px)) {
        font-size: 14px;
      }
    @media ((min-width: 720px) and (max-width: 1440px)) {
        font-size: 16px;
      }
    @media ((min-width: 1440px)) {
        font-size: 18px;
      }
}



.acs {
    background-color: #0078D4;
}

.acs :hover {
    background-color: #005799;
    transition: background-color 0.3s;
} 
.blocks_info {
    color: #fff;
    text-align: center;
}

.cont_info {
    float: right;
    width: 60%;
}

.tb_text {
    text-align: center;
}

.name {
    max-width: 25%;
    height: auto;
    margin-left: 5%;
    text-align: center;
    background-color: #EEE;
}
#photo1 {
    max-width: 45%;
    height: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.href1 {
    color: #FFF;
}

.about {
    float: right;
    width: 62%;
    height: auto;
    text-align: left;
    margin-top: 3%;
    background-color: #EEE;
}

.tb_1 {
    margin-top: 3vh;
}

.button1 {
    background-color:#0078D4 ;
}

.work_exp {
    margin-top: 10vh;
    background-color: #EEE;
    width: 100%;
    height: auto;
    @media ((min-width: 240px) and (max-width:720px)) {
        margin-top: 17vh;
      }
    @media ((min-width: 720px) and (max-width: 1080px)) {
        margin-top: 10vh;
      }
    @media ((min-width: 1080px) and (max-width: 1440px)) {
        margin-top: 12vh;
      }
    @media ((min-width: 1440px)) {
        margin-top: 5vh;
      }
}

.tools_exp {
    margin-top: 10vh;
    background-color: #EEE;
    width: 100%;
    height: auto;
    @media ((min-width: 240px) and (max-width:720px)) {
        margin-top: 17vh;
      }
    @media ((min-width: 720px) and (max-width: 1080px)) {
        margin-top: 10vh;
      }
    @media ((min-width: 1080px) and (max-width: 1440px)) {
        margin-top: 12vh;
      }
    @media ((min-width: 1440px)) {
        margin-top: 5vh;
      }
}

.edu {
    margin-top: 10vh;
    background-color: #EEE;
    margin-left: auto;
    margin-right: auto;
    height: auto;
        @media ((min-width: 240px) and (max-width:720px)) {
            width: 100%;
        }
        @media ((min-width: 720px) and (max-width: 1080px)) {
            width: 90%;
        }
        @media ((min-width: 1080px) and (max-width: 1440px)) {
            width: 80%;
        }
        @media ((min-width: 1440px)) {
            width: 70%;
        }
}

.sect_exp {
  height: auto;
    margin-left: auto;
    margin-right: auto;
    @media ((min-width: 240px) and (max-width:720px)) {
        width: 100%;
    }
    @media ((min-width: 720px) and (max-width: 1080px)) {
        width: 80%;
    }
    @media ((min-width: 1080px) and (max-width: 1440px)) {
        width: 60%;
    }
    @media ((min-width: 1440px)) {
        width: 40%;
    }
}

.img_prj1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8vh;
}

.projects {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    background-color: #EEE;
}

.contact_block {
    margin-top: 5vh;
    display: flex;
    display: flex;

    flex-direction: row;
    justify-content: center;

    @media ((min-width: 240px) and (max-width:720px)) {
        gap: 30px;
    }
    @media ((min-width: 720px) and (max-width: 1080px)) {
        gap: 40px;
    }
    @media ((min-width: 1080px) and (max-width: 1440px)) {
        gap: 50px;
    }
    @media ((min-width: 1440px)) {
        gap: 70px;
    }
}

.social {
    width: 7%;
}

.feedback {
    margin-top: 10vh;
}

@keyframes open_page {
    from {
        opacity: 0%;
      }
    
      to {
        opacity: 100%;
      }
}
